<div class='container'> 
    Hock Cheong Logistics Pte Ltd <br />
    Blk 1767 Geylang Bahru #01-04 <br / >
    Kallang Distripark Singapore 339702 <br />
    Tel: +65-67435416 <br /> 
    Fax: +65-67480020 <br />
    
</div>

